<aside class="sidebar">
    <div class="sidebar-header">
        <h1><a href="/dashboard">탑 부동산<span>.</span></a></h1>
    </div>
    <ul class="sidebar-menu">
        <% menus.forEach(menu => { %>
            <li class="<%= menu.url === '/admin' ? 'active' : '' %>"><a href="<%= menu.url %>"><%= menu.name %></a></li>
        <% }); %>
        <li><a href="/add_property">주거용 매물등록</a></li>
        <li><a href="/admin/menu">메뉴 관리</a></li>
    </ul>
    <div class="sidebar-footer">
        <a href="/logout">로그아웃</a>
    </div>
</aside>